<div class="post cate<#article/category/id#> auth<#article/author/id#>">
  <h2 class="post-title"><a href="<#article/url#>"><#article/title#></a></h2>
  <div class="post-body"><#article/intro#>
  <div class="post-more"><a href="<#article/url#>">查看全文</a></div></div>
  <h5 class="post-tags"><span><#ZC_MSG138#></span>: <#template:article_tag#></h5>
  <div class="post-item">
    <h4 class="post-date">[<span><#article/posttime/longdate#></span>|<span><#ZC_MSG011#></span><span><#article/author/name#></span>]</h4>
    <h6 class="post-footer">
      <!--<#ZC_MSG012#>:-->
      <!--<span><a href="<#article/url#>">查看全文</a></span>|--> <span class="post-class"><#article/category/name#></span>|<a href="<#article/url#>"><span><#ZC_MSG013#>(<#article/commnums#>)</span></a>|<!--<span><#ZC_MSG014#>(<#article/trackbacknums#>)</span>|--><span><#ZC_MSG130#>(<span id="spn<#article/id#>" class="hitnum"></span>)</span>
      <script language="JavaScript" type="text/javascript">strBatchView+="spn<#article/id#>=<#article/id#>,"</script>
    </h6>
  </div>
</div>
