<div class="divClear"></div>
<ul class="msg">
	<li class="msgname"><a onclick="InsertQuote(this.parentNode.parentNode.getElementsByTagName('a')[2].innerHTML,this.parentNode.parentNode.getElementsByTagName('li')[2].innerHTML);return false;" href=""><img src="<#ZC_BLOG_HOST#>IMAGE/AVENE/icon_replay.gif" height="9" width="9" alt="quote" title="quote" /></a> <a name="cmt<#article/comment/id#>"><#article/comment/count#></a>.<a href="mailto:<#article/comment/email#>" onclick="this.href=(this.href).replace(/\[AT\]/,String.fromCharCode(64));"><#article/comment/name#></a>[<span><#article/comment/posttime#></span>]</li>
	<li class="msgurl"><a href="<#article/comment/url#>" rel="nofollow" target="_blank"><#article/comment/url#></a></li>
	<li class="msgarticle"><#article/comment/content#></li>
</ul>
<div class="divClear"></div>