<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<authorization>
				<add accessType="Allow" users="?" />
			</authorization>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="iisstart.htm" />
				<add value="Default.asp" />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="index.html" />
				<add value="index.htm" />
			</files>
		</defaultDocument>
        <staticContent>
            <remove fileExtension=".mp4" />
        </staticContent>
	</system.webServer>
	<system.web>
		<authentication mode="Windows" />
		<compilation debug="true">
		</compilation>
	</system.web>
	<system.codedom>
	</system.codedom>
</configuration>
